{% load i18n %}
{% load fb_versions %}
{% load bootstrap5 %}

<div class="card mx-auto" style="width: 28rem; margin-top: 60px">
  <div class="card-header">
    <h3>{% trans "Change Profile" %}</h3>
  </div>
  <div class="card-body">
    {% if submitted %}
    <p class="alert alert-success" role="alert">
      {% trans 'Profile has been successfully modified!' %}
    </p>
    {% endif %}
    <form hx-post="{% url 'account_profile' %}" hx-target="#main" hx-encoding="multipart/form-data">
      {% if user.profile.fb_image %}
        <img class="rounded-circle" src="{% version user.profile.fb_image 'thumbnail' %}" alt="">
      {% endif %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">{% trans "Change Profile" %}</button>
    </form>
    <hr>
    <a class="btn btn-secondary" hx-get="{% url 'password_change' %}" hx-target="#main" hx-push-url="{% url 'password_change' %}">{% trans "Change Password?" %}</a>
    <a class="btn btn-danger" hx-get="{% url 'account_delete' %}" hx-target="#main" hx-push-url="{% url 'account_delete' %}">{% trans "Delete Account" %}</a>
    {% if user.is_staff %}
      <hr>
      <a class="btn btn-warning" href="/admin/">{% trans "Go to Admin" %}</a>
    {% endif %}
  </div>
</div>
