{% load i18n %}
{% load fb_versions %}
{% load bootstrap5 %}

{% include 'navbar.html' %}
<main class="flex-shrink-0">
  <div id="content" class="container">
    <div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
      <div class="card-header">
        <h3>{% trans "Change Profile" %}</h3>
      </div>
      <div class="card-body">
        {% if submitted %}
          <p class="alert alert-success" role="alert">
            {% trans 'Profile has been successfully modified!' %}
          </p>
        {% endif %}
        <form hx-post="{% url 'account_profile' %}" hx-target="#menucont" hx-encoding="multipart/form-data">
          {% if user.profile.fb_image %}
            <a href="{{ user.profile.fb_image.url }}">
              <img class="rounded-circle" src="{% version user.profile.fb_image 'thumbnail' %}" alt="">
            </a>
          {% endif %}
          {% bootstrap_form form %}
          <button class="btn btn-primary" type="submit">{% trans "Change Profile" %}</button>
          <a class="btn btn-secondary" hx-get="{% url 'password_change' %}" hx-target="#content" hx-push-url="{% url 'password_change' %}">{% trans "Change Password?" %}</a>
        </form>
        <hr>
        <a class="btn btn-success" href="{% url 'socialaccount_connections' %}">{% trans "Connect social" %}</a>
        <a class="btn btn-danger" hx-get="{% url 'account_delete' %}" hx-target="#content" hx-push-url="{% url 'account_delete' %}">{% trans "Delete Account" %}</a>
        {% if user.is_staff %}
          <hr>
          <a class="btn btn-warning" href="/admin/">{% trans "Go to Admin" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% include 'footer.html' %}
