{% load i18n %}
{% load account %}

<div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
  <div class="card-header">
    <h3>{% trans "Password Reset" %}</h3>
  </div>
  <div class="card-body">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
  </div>
</div>
