{% load i18n %}
{% load bootstrap5 %}

<div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
  <div class="card-header">
    <h3>{% trans "Change Password" %}</h3>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'password_change' %}" class="password_change">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
      <a class="btn btn-secondary" hx-get="{% url 'password_reset' %}" hx-trigger="click" hx-target="#content" hx-push-url="{% url 'password_reset' %}">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
</div>
