{% extends 'base_menu.html' %}
{% load i18n %}

{% block head_title %}{% translate 'Access denied' %}{% endblock head_title %}
{% block content %}
<div class="card mx-auto" style="max-width: 480px; margin-top: 60px">
  <div class="card-header bg-danger">
    <h3>{% trans "Access denied" %}</h3>
  </div>
  <div class="card-body">
    <p>{% translate "You don't have permissions to access this page" %}.</p>
    <p>{% translate "Maybe you still have to" %} <a href="{% url 'account_login' %}">{% translate "login" %}</a>,
    {% translate "otherwise contact us to request permissions" %}.</p>
  </div>
</div>
{% endblock content %}
