{% load static %}
{% load bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type='image/x-icon' href="{% static 'favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% bootstrap_css %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>{{ request.site.name }}</title>
    {% block extra-head %}{% endblock extra-head %}
  </head>
  <body class="d-flex flex-column h-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div id="menucont">
      {% block menucont %}
        <h1>Hello, world!</h1>
      {% endblock menucont %}
    </div>
    <!-- Optional JavaScript -->
    <!-- Bootstrap bundled JS -->
    {% bootstrap_javascript %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    {% block extra-js %}{% endblock extra-js %}
  </body>
</html>
