{% load static %}
{% load bootstrap5 %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type='image/x-icon' href="{% static 'images/favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% bootstrap_css %}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <title>{% block head_title %}{{ request.site.name }}{% endblock head_title %}</title>
    {% block extra-head %}{% endblock extra-head %}
  </head>
  <body class="d-flex flex-column h-100">
    {% block basebody %}
      <h1>Hello, world!</h1>
    {% endblock basebody %}
    <!-- Optional JavaScript -->
    <!-- Bootstrap bundled JS -->
    {% bootstrap_javascript %}
    {% block extra-js %}{% endblock extra-js %}
  </body>
</html>
