{% load static %}
{% load i18n %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">{{ request.site.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          {% if user.is_authenticated %}
            <a class="nav-link" hx-get="{% url 'account_profile' %}" hx-trigger="click" hx-target="#main" hx-push-url="{% url 'account_profile' %}" title="{% trans 'Manage account' %}">
              {% if user.profile.avatar.thumbnail %}
                <img class="rounded-circle" heigth="18px" width="18px" src="{{ user.profile.avatar.thumbnail.url }}" alt="{{ user.profile.avatar.title }}">
              {% endif %}
              {{ user.profile.get_short_name }}</a>
            <a class="nav-link" hx-get="{% url 'account_logout' %}" hx-trigger="click" hx-target="#main" hx-push-url="{% url 'account_logout' %}">{% translate 'Logout' %}</a>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" hx-get="{% url 'account_login' %}" hx-trigger="click" hx-target="#main" hx-push-url="{% url 'account_login' %}">{% trans 'Login' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" hx-get="{% url 'account_signup' %}" hx-trigger="click" hx-target="#main" hx-push-url="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" title="{% trans 'Set language' %}" hx-get="{% url 'select_language' %}" hx-trigger="click" hx-target="#main" hx-push-url="{% url 'select_language' %}"><i class="fa fa-language"></i></a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="{% trans 'Write something' %}" aria-label="Search">
          <button class="btn btn-outline-success" hx-get="{% url 'search_results' %}" hx-trigger="click" hx-target="#main" hx-push-url="{% url 'search_results' %}">{% trans 'Search' %}</button>
        </form>
      </div>
    </div>
  </nav>
</header>
