django>=4.1,<4.2
psycopg2-binary
django-allauth
django-bootstrap-v5
django-grappelli
django-filebrowser
django-htmx
django-modeltranslation
environs[django]
coverage
django-debug-toolbar
factory_boy
django-taggit
django-treebeard
djangorestframework
djangorestframework-gis
django-filter
django-colorfield
django-geojson
jsonfield
django-leaflet
geopy
ezdxf
django-tinymce
pyproj
shapely
