django>=4.1,<4.2
psycopg2-binary
django-allauth
django-bootstrap-v5
django-grappelli
django-filebrowser
django-htmx
django-modeltranslation
environs[django]
coverage
django-debug-toolbar
factory_boy
django-tinymce
pillow
easy-thumbnails
django-filer
