{% load i18n %}
{% load fb_versions %}

{% if articles %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for article in articles %}
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <h4 class="link-primary"
                hx-get="{{ article.get_path }}"
                hx-target="#content"
                hx-push-url="true">{{ article.title }}
            </h4>
          </div>
          <div class="card-body">
            {% if article.article_carousel.first %}
              <img class="card-img-top"
                   src="{% version article.article_carousel.first.fb_image 'popup' %}"
                   alt="{{ article.intro }}">
            {% endif %}
            <p>
              {{ article.date|date:"d M Y" }}
              {% if article.author %}
                - {% translate "by"%}
                {% if article.author.get_avatar %}
                  <img class="rounded-circle"
                       heigth="20px"
                       width="20px"
                       src="{{ article.author.get_avatar }}"
                       alt="">
                {% endif %}
                {{ article.author.get_full_name }}
              {% endif %}
            </p>
            <p>
              <em>{{ article.intro }}</em>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>{% translate "No articles available" %}</p>
{% endif %}
