{% load i18n %}
{% load thumbnail %}

<div class="card-header">
  <h4>
    {{ shot.title | safe }}
  </h4>
</div>
<div class="card-body">
  {% if shot.shotgun_image %}
    {% for image in shot.shotgun_image.all %}
      <div class="text-center">
        <figure class="figure">
          <img class="figure-img img-fluid"
            src="{% thumbnail image.filer_image 0x800 %}"
            alt="{{ image.description }}">
          <figcaption class="figure-caption">
            {{ image.description | default_if_none:'' }}
          </figcaption>
        </figure>
      </div>
    {% endfor %}
  {% endif %}
  <p>
    {{ shot.date|date:"d M Y" }}
  </p>
  {{ shot.body | safe }}
  <a class="link link-primary"
    href="{% url 'pages:shotgun_detail' pk=shot.id slug=shot.slug %}">
    {% translate "Link to this article" %}
  </a>
  {% if shot.get_stories and not story %}
    <br><span><small>
      {% translate "Stories this article belongs to:" %}
      {% for story in shot.get_stories %}
        <a
          href="{% url 'pages:story_detail' pk=story.id slug=story.slug %}"
          hx-get="{% url 'pages:story_detail' pk=story.id slug=story.slug %}"
          hx-target="#content"
          hx-push-url="true"
        >
          {{ story.title }}
        </a>
      {% endfor %}
    </small></span>
  {% endif %}
  {% if perms.pages.add_shotgun %}
    <br>
    <a href="/admin{{ SECRET_ADMIN }}/pages/shotgun/{{ shot.id}}/change/">
      {% translate "Modify" %}
    </a>
  {% endif %}
</div>
