{% load i18n %}
{% load fb_versions %}

{% if shots %}
  {% for shot in shots %}
    <div class="card mx-auto" style="margin-bottom: 20px;{{ shot.get_card_width }}">
      <div class="card-header">
        <h4>
          {{ shot.title | safe }}
        </h4>
      </div>
      <div class="card-body">
        {% if shot.shotgun_image %}
          {% for image in shot.shotgun_image.all %}
            <div class="text-center">
              <img class="img-fluid"
                src="{% version image.fb_image 'shot' %}"
                alt="{{ image.description }}">
            </div>
          {% endfor %}
        {% endif %}
        <p>
          {{ shot.date|date:"d M Y" }}
        </p>
        <p>
          {{ shot.body | safe }}
        </p>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>{% translate "No articles available" %}</p>
{% endif %}
