{% load i18n %}
{% load fb_versions %}

<div class="card-header">
  <h4>
    {{ shot.title | safe }}
  </h4>
</div>
<div class="card-body">
  {% if shot.shotgun_image %}
    {% for image in shot.shotgun_image.all %}
      <div class="text-center">
        <figure class="figure">
          <img class="figure-img img-fluid"
            src="{% version image.fb_image 'shot' %}"
            alt="{{ image.description }}">
          <figcaption class="figure-caption">
            {{ image.description | default_if_none:'' }}
          </figcaption>
        </figure>
      </div>
    {% endfor %}
  {% endif %}
  <p>
    {{ shot.date|date:"d M Y" }}
  </p>
  <p>
    {{ shot.body | safe }}
  </p>
  {% if perms.pages.add_shotgun %}
    <a href="/admin/pages/shotgun/{{ shot.id}}/change/">
      {% translate "Modify" %}
    </a>
  {% endif %}
</div>
