{% extends "base_menu.html" %}

{% load i18n %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Change Profile" %}{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 28rem; margin-top: 60px">
  <div class="card-header">
    <h3>{% trans "Change Profile" %}</h3>
  </div>
  <div class="card-body">
    <form method="POST" action="" enctype="multipart/form-data" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">{% trans "Change Profile" %}</button>
        <a class="btn btn-secondary" href="{% url 'account_change_password' %}">{% trans "Change Password?" %}</a>
    </form>
  </div>
</div>

{% endblock %}
