{% extends 'base.html' %}

{% block extra-head %}
  <meta property="og:url" content="https://{{ request.site.domain }}{% url 'pages:shotgun_detail' pk=shot.id %}">
  <meta property="og:title" content="{{ request.site.name }} - {{ shot.title }}">
  {% if shot.shotgun_image %}
    <meta property="og:image" content="https://{{ request.site.domain }}{{ shot.shotgun_image.first.filer_image.url }}">
  {% elif logo %}
    <meta property="og:image" content="https://{{ request.site.domain }}{{ logo.filer_image.url }}">
  {% endif %}
  <meta property="og:site_name" content="{{ request.site.name }}">
{% endblock extra-head %}

{% block content %}
  {% include 'pages/htmx/shotgun_index.html' %}
{% endblock content %}
