{% load i18n %}
{% load bootstrap5 %}

<div class="card mx-auto" style="width: 28rem; margin-top: 60px">
  <div class="card-header">
    <h3>{% trans "Change Password" %}</h3>
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
        <a class="btn btn-secondary" hx-get="{% url 'account_reset_password' %}" hx-trigger="click" hx-target="#main" hx-push-url="/accounts/password/reset/">{% trans "Forgot Password?" %}</a>
    </form>
  </div>
</div>
