{% load i18n %}

{% include 'pages/gallery.html' %}
<div class="card mx-auto" style="max-width: 960px; margin-top: 60px">
  <div class="card-header">
    <h3>{{ article.title }}</h3>
    <p>
      <em>{{ article.intro }}</em>
      - {{ article.date|date:"d M Y" }}
      {% if article.author %}
        - {% translate "by"%}
        {% if article.author.get_avatar %}
          <img class="rounded-circle" heigth="20px" width="20px" src="{{ article.author.get_avatar }}" alt="">
        {% endif %}
        {{ article.author.get_full_name }}
      {% endif %}
    </p>
  </div>
  <div class="card-body">
    {{ article.body | safe }}
    <hr class="mb-4">
    <div class="row">
      <div class="col col-6">
        {% with prev=article.get_previous %}{% if prev %}
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
          <a class="link-primary" hx-get="{{ prev.get_path }}" hx-target="#content" hx-push-url="true">{{ prev.title }}</a>
        {% endif %}{% endwith %}
      </div>
      <div class="col col-6 text-end">
        {% with next=article.get_next %}{% if next %}
          <a class="link-primary" hx-get="{{ next.get_path }}" hx-target="#content" hx-push-url="true">{{ next.title }}</a>
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% endif %}{% endwith %}
      </div>
    </div>
  </div>
</div>
