{% load i18n %}

{% include 'navbar.html' %}
<main class="flex-shrink-0">
  <div id="content" class="container">
    {% include 'pages/gallery.html' %}
    <div class="card mx-auto" style="max-width: 960px; margin-top: 20px;">
      {% if page.intro %}
        <div class="card-header">
          <h4 class="text-left"><strong><em>{{ page.intro }}</em></strong></h4>
        </div>
      {% endif %}
      {% if page.body %}
        <div class="card-body">
          <p class="text-left">{{ page.body | safe }}</p>
        </div>
      {% endif %}
    </div>
    <div class="card mx-auto" style="max-width: 960px; margin-top: 20px;">
      <div class="card-header">
        <h3 class="link-primary"
          hx-get="{% url 'pages:article_index' %}"
          hx-target="#menucont"
          hx-push-url="true">{% translate 'Articles' %}</h3>
      </div>
      <div class="card-body">
        {% include "pages/includes/article_list.html" %}
      </div>
    </div>
  </div>
</main>
{% include 'footer.html' %}
