{% load i18n %}

{% include 'navbar.html' %}
<main class="flex-shrink-0">
  <div id="content" class="container">
    {% include 'pages/gallery.html' %}
    <hr class="mb-4">
    <div class="row">

      {% if page.intro %}
        <h4 class="text-left"><strong><em>{{ page.intro }}</em></strong></h4>
      {% endif %}
      {% if page.body %}
        <p class="text-left">{{ page.body }}</p>
      {% endif %}

    </div>
    <hr class="mb-4">
    <div class="card mx-auto" style="max-width: 960px;">
      <div class="card-header">
        <h3>{% translate 'Articles' %}</h3>
      </div>
      <div class="card-body">
        {% include "pages/includes/article_list.html" %}
      </div>
    </div>
  </div>
</main>
{% include 'footer.html' %}
